* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f9fafb;
  color: #111827;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #fcfcfc;
  border-radius: 10px;
}
